:root {
  --font-header: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --color-primery: #ffad01;
  --color-gradient: conic-gradient(
    from 211.23deg at 76.22% 7.84%,
    #202020 0deg,
    #000000 360deg
  );
  --color-text: #1d1d1d;
}

body {
  display: block;
  margin: 0 auto;
  max-width: 1160px;
  font-family: var(--font-body);
  color: var(--color-text);
}

h1,
h2 {
  font-family: var(--font-header);
  font-weight: 400;
  line-height: 96px;
  font-size: 64px;
}

h3 {
  font-family: var(--font-body);
  font-size: 36px;
  font-weight: 400;
}

h4 {
  font-family: var(--font-body);
  font-size: 24px;
  font-weight: 600;
}

p {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 26px;
  font-size: 18px;
}

.container-fluid {
  max-width: 1160px;
}
.navbar-brand {
  color: var(--color-primery) !important;
}
.navbar-collapse {
  padding-left: 645px;
}
.link-navbar {
  text-decoration: none;
  color: #fff;

  border: 1px solid var(--color-primery);
  border-radius: 4px;
  padding: 8px 16px;
  display: block;
  margin: 0 auto;
}
.link-navbar:hover {
  color: var(--color-primery);
  transition: all 200ms ease-in-out;
}

.first-screen {
  padding-top: 140px;
}
.main-header {
  padding-top: 88px;
  text-align: left;
  margin-bottom: 8px;
}

.main-header p {
  margin-bottom: 48px;
  max-width: 433px;
}

.main-header a {
  padding: 16px 32px;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.link-hire {
  background-color: var(--color-primery);
  margin-right: 16px;
}
.link-hire:hover {
  background-color: #f57701;
  transition: all 200ms ease-in-out;
}
.link-portfolio {
  background: var(--color-gradient);
}
.link-portfolio:hover {
  border: solid 1px #202020;
  background: white;
  color: var(--color-text);
  font-weight: 400px;
  transition: all 200ms ease-in-out;
}

.img-first-screen {
  display: block;
  margin: 0 auto;
}

.second-screen {
  margin-top: 190px;
}

.img-second-screen {
  width: 100%;
  border-radius: 30px;
}

.header-second-screen {
  margin-top: 32px;
  margin-bottom: 16px;
}
.p-second-screen p {
  margin-bottom: 8px;
}

.therd-screen {
  margin-top: 190px;
}

.therd-screen h2 {
  margin-bottom: 32px;
}

.therd-screen .progress {
  margin-top: 8px;
  margin-bottom: 32px;
}

.therd-screen .ux-design {
  margin-right: 20px;
  text-align: center;
  padding: 52px 24px;
  background: var(--color-gradient);
  color: #fff;
  border-radius: 8px;
}

.therd-screen .ux-design p {
  padding-top: 16px;
  max-width: 224px;
}

.therd-screen .graphic-design {
  text-align: center;
  padding: 52px 16px;
  background: var(--color-gradient);
  color: #fff;
  border-radius: 8px;
}

.therd-screen .graphic-design p {
  padding-top: 16px;
  max-width: 242px;
}
@media (max-width: 1000px) {
  h1,
  h2 {
    font-size: 48px;
    line-height: 62px;
  }
  .main-header {
    padding-top: 0;
  }
  .link-hire,
  .link-portfolio {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 8px 0;
  }
  .header-second-screen {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .p-second-screen p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

@media (max-width: 800px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .link-header {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .img-first-screen {
    margin-top: 32px;
  }
  .header-second-screen {
    margin-top: 32px;
    margin-bottom: 8px;
  }
  .p-second-screen p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 48px;
  }
}
